{
  "parser": "babel-eslint",
  "extends": ["airbnb-base", "plugin:react/recommended"],
  "env": {
    "node": true,
    "browser": true,
    "es6": true,
    "jest": true,
  },
  "rules": {
    "import/no-unresolved": 0
  }
}
