*{
  margin: 0;
  padding: 0;
}

body{
  text-align: center;
}

h1{
  background: papayawhip;
  color: tomato;
  text-align: center;
  font-size: 4em;
  padding: 5% 0;
  margin-bottom: .5em;
}

input:not([type='checkbox']), select, button, label{
  width: 8em;
  height: 2em;
}

input[type='checkbox']{
  margin-right: .5em;
}

option {
  height: 2em;
}


.table {
  background: papayawhip;
  margin-top: .5em;
  display: inline-block;
  width: 10em;
}
.table p{
  display: flex;
  justify-content: space-between;
}
.table p span{
  padding: .2em;
}
